---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="나를위한시간"
	description="블로그 소개"
	pubDate={new Date('Dec 13 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		퇴근 후 나를 위해 쓰는 하루 한 시간.
	</p>
	<p>
		개발하고, 글쓰고, 운동하는 이야기
	</p>
</Layout>
